.App {
  margin: 50px;
}

button {
  background-color: #000;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: capitalize;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.background-box {
  background-color: #fff;
}

.clickable {
  cursor: pointer;
}

.color-light {
  color: rgb(0, 0, 0, 0.7);
}

.display-none {
  display: none;
}

.display-visible {
  display: visible;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.font-s-xxl {
  font-size: xx-large;
}

.font-w-b {
  font-weight: bold;
}

.position-absolute {
  position: absolute;
  z-index: 1000;
}

.price::before {
  content: "$";
}

.text-align-r {
  text-align: right;
}
